.story {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.buttons-position {
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 25%;
  border: none;
  margin: 0px -6px;
  padding: 0px;
  height: 40px;
}

.icon:active {
  background-color: rgba(100, 100, 100, 0.7);
  color: black;
}

.icon {
  cursor: pointer;
  height: fit-content;
  font-size: 30px;
  padding: 5px;
  color: white;
  border-radius: 25%;
  margin: 0px;
}
