#post {
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #1a1c20;
}

.name {
  margin: 0;
  font-weight: 500;
  font-size: 16;
}

.menu {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
